<div class= "mb-6">
 <h1 class="text-3xl font-bold bg-gray-300 ",>ユーザー登録</h1>
</div>

<%= form_with model: @user, local: true do |form| %>
  <% if @user.errors.any? %>
    <div>
      <h2><%= @user.errors.count %>件のエラーがあります</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.label :name, "ユーザー名" %>
    <%= form.text_field :name, class:" border rounded px-2 py-1 " %>
  </div>
  
  <div class="mb-2">
    <%= form.label :password, "パスワード" %>
    <%= form.password_field :password, class:" border rounded px-2 py-1 " %>
  </div>
  
  <div class="mb-2">
    <%= form.label :password_confirmation, "パスワード確認" %>
    <%= form.password_field :password_confirmation, class:" border rounded px-2 py-1 " %>
  </div>
  
  <div class="mt-6">
    <%= form.submit "登録",class: " bg-orange-400 hover:bg-orange-600 text-white font-medium py-2 px-4 rounded transition duration-200" %>
  </div>
<% end %>

<div class="mt-6">
 <%= link_to "ログインページへ", login_path, class:"text-gray-600 hover:text-gray-800" %>
</div>